<!DOCTYPE html>
<html>
    <head></head>
        
    
    <body>
        <h1>Student Db</h1>
        <form method="post" action="/addStudent">
            <input type="text" name="Name" placeholder="Enter your Name">
        </br>
    
        <input type="text" name="Roll_no" placeholder="Enter your roll no">
    </br>
    <input type="number" name="WAD_marks" placeholder="Enter WAD marks">
    </br>
    <input type="number" name="CC_marks" placeholder="Enter CC marks">
    </br>
    <input type="number" name="CNS_marks" placeholder="Enter CNS marks">
    </br>
    <input type="number" name="DSBDA_marks" placeholder="Enter DSBDA marks">
    </br>
    <input type="number" name="AI_marks" placeholder="Enter AI marks">
    </br>
    <input type="submit" name="submit" value="Submit">
    </br>

        </form>
        
    </body>
</html>